AIRFLOW_DATABASE_NAME=banco_teste_python
AIRFLOW_DATABASE_USERNAME=tedesco
AIRFLOW_DATABASE_PASSWORD=root
AIRFLOW_DATABASE_HOST=db
AIRFLOW_DATABASE_PORT_NUMBER=5432
AIRFLOW_EXECUTOR=CeleryExecutor
AIRFLOW_USERNAME=tedesco
AIRFLOW_PASSWORD=tedesco
AIRFLOW_EMAIL=tedesco.rafaelmoutinho@gmail.com
AIRFLOW_LOAD_EXAMPLES=no